@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat&family=Playfair+Display&family=Ubuntu&display=swap");

:root {
  --bg-color: #faeee7;
  --head-line: #33272a;
  --sec-title-color: #594a4e;
  --accent-col: #ff8ba7;
  --secondary-col: #f7c9c9;
  --bg-code: #fffbf3;
  --link-color: #25232d;
  --link-accent-color: #f77e9a;
  --white-text: #fff;
  --border-color: rgba(0, 0, 0, 0.1);
  --dark-pink: #e2216a;
  --dark-bg: #222;
  --bg-contact: rgba(153, 153, 153, 0.2);
  --select-color: rgba(212, 53, 159, 0.2);
  --left-right-padding: 0 25px;
  --body-padding: 0 7.5rem;
  --body-padding2: 0 15rem;
  --margin-top-bottom: 40px 0;
  --section-padding: 40px 25px;
  --font-text: 1.4rem;
  --font-small: 1.2rem;
  --font-xs: 0.9rem;
  --font-m: 1.3rem;
  --cursor: #fa709a;
  --cursor-2: #f7c9c9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  border: 6px solid;
  max-width: 100%;
  min-height: 100%;
  border-image-source: linear-gradient(90deg, #f7c9c9, #fa709a 70%);
  border-image-slice: 1;
}

body {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-family: "Merriweather", serif;
  color: var(--head-line);
}

/* utility classes  */
p {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
i {
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--head-line);
  font-family: "Ubuntu", serif;
  cursor: pointer;
}

/* header---------------  */
#home {
  padding-bottom: 50px;
}
/* --navbar---  */

.navbar {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: var(--left-right-padding);
  margin: 20px 0 80px;
  background-color: var(--bg-color);
}

.logo svg {
  height: 100%;
  width: 40px;
  padding: 0;
  cursor: none;
}
.toggle {
  position: relative;
  z-index: 3;
  position: fixed;
  right: 30px;
}
.hamburger .line {
  width: 30px;
  height: 4px;
  background-color: var(--head-line);
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.hamburger:hover {
  cursor: pointer;
}
#hamburger_menu {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger_menu.is-active {
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#hamburger_menu.is-active .line:nth-child(1),
#hamburger_menu.is-active .line:nth-child(2),
#hamburger_menu.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburger_menu.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger_menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#hamburger_menu.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-14px) rotate(-45deg);
  -ms-transform: translateY(-14px) rotate(-45deg);
  -o-transform: translateY(-43px) rotate(-45deg);
  transform: translateY(-14px) rotate(-45deg);
}

.menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 1;
  transition: 0.5s;
}
.menu ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.menu ul li {
  list-style: none;
}

.menu ul li a {
  padding: 20px;
  display: inline-block;
  font-family: "Merriweather", serif;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--head-line);
  position: relative;
}
.menu ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--accent-col);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.5s ease-out;
}
.menu ul li a::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--accent-col);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-out;
}

ul li a:hover::after,
ul li a:hover::before {
  width: 100%;
}
.menu.active {
  left: 0;
  overflow: auto;
}

/* nav bar end -------------------  */

/* header contant  */
.header-content {
  margin: var(--margin-top-bottom);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--left-right-padding);
}
/* profile pic  */
.profile {
  border: var(--accent-col) 8px dotted;
  border-radius: 50%;
  width: 35vmax;
  height: 35vmax;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.fancyBorder {
  width: 85%;
  height: 85%;
  position: absolute;
  bottom: 4%;
  left: 10%;
  transition: all 0.1s ease-in-out;
}
.fancyBorder-1 {
  animation: border-anim1 5s linear infinite;
  border-radius: 90% 10% 91% 9% / 93% 0% 100% 7%;
  background-color: #fa709a;
}

@keyframes border-anim1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* @keyframes border-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */
.fancyBorder-2 {
  animation: border-anim2 4s linear infinite;
  border-radius: 67% 33% 49% 51% / 79% 53% 47% 21%;
  background-image: linear-gradient(90deg, #f7c9c9, #fa709a 30%);
  width: 85%;
  height: 85%;
}

@keyframes border-anim2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.fancyBorder-3 {
  animation: border-anim3 6s linear infinite;
  background-image: linear-gradient(90deg, #f7c9c9, #fa709a 70%);
  border-radius: 72% 28% 36% 64% / 71% 61% 39% 29%;
  width: 80%;
  height: 80%;
}

@keyframes border-anim3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ........................  */
.profile-pic {
  height: 100%;
  position: absolute;
  bottom: -8%;
  left: -4%;
  filter: drop-shadow(20px 30px 5px rgba(48, 48, 48, 0.298));
  pointer-events: none;
}

/* header text  */
.header-text {
  margin: var(--margin-top-bottom);
  text-align: center;
}
.header-text h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
.header-text h1 span {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  letter-spacing: 3px;
  line-height: 1.5;
}
.header-text p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.header-text a i {
  transition: 0.2s ease-in-out;
}
.header-text a i:hover,
.header-text a i:focus {
  color: var(--accent-col);
  transform: translateY(-5px);
}

/* contact button----  */
.btn {
  background: #f7c9c9;
  background-image: -webkit-linear-gradient(top, #f7c9c9, #fa709a);
  background-image: -moz-linear-gradient(top, #f7c9c9, #fa709a);
  background-image: -ms-linear-gradient(top, #f7c9c9, #fa709a);
  background-image: -o-linear-gradient(top, #f7c9c9, #fa709a);
  background-image: linear-gradient(to bottom, #f7c9c9, #fa709a);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  -webkit-box-shadow: 0px 5px 12px #a6a6a6;
  -moz-box-shadow: 0px 5px 12px #a6a6a6;
  box-shadow: 0px 5px 12px #a6a6a6;
  font-family: "Ubuntu", sans-serif;
  color: var(--head-line);
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border: 0;
  display: block;
  margin: 0 auto;
  transition: padding 0.1s ease-in-out;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: #f77e9a;
  text-decoration: none;
  padding: 10px 30px;
}

/*----------- header section ends here -----------------  */
/* #about-section  */
section {
  min-height: 60vh;
  padding: var(--section-padding);
  margin: var(--margin-top-bottom);
  text-align: center;
}
.page-title {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: var(--margin-top-bottom);
  color: var(--sec-title-color);
  letter-spacing: 5px;
  font-weight: 900;
}
.text {
  font-size: var(--font-small);
  color: var(--link-color);
  text-align: left;
  display:inline;
}
.heading-img {
  width: 10rem;
}
.subtext {
  font-size: var(--font-small);
  color: var(--link-color);
  padding: 0 0 20px;
}
.text-heading {
  font-family: "ubuntu", sans-serif;
  font-size: var(--font-text);
  text-align: left;
  margin: 40px 0 10px;
  padding: 20px 0;
}
.cv-btn {
  margin: var(--margin-top-bottom);
  padding: 10px 30px;
}
.cv-btn a i {
  padding: 0 10px 0 0;
}
/* ------------skills---------- */
#skills {
  padding: 0;
}
.skill-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.skills {
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: var(--font-small);
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}
#skills .heading-img {
  width: 8rem;
}

/* -------------about end-----------  */

/* -----------work section-------  */
.work {
  margin-top: 60px;
}
.flex-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--margin-top-bottom);
  position: relative;
}
#work .flex-heading {
  justify-content: flex-start;
}
.flex-heading::after {
  content: "";
  width: 30%;
  height: 3px;
  background-color: var(--accent-col);
  position: absolute;
  bottom: -1rem;
}
.work-img {
  width: 2rem;
  margin-right: 10px;
}
.work-span {
  font-weight: bolder;
  font-style: italic;
}
.sub-heading {
  font-size: 1.3rem;
}

/* ---------------contacts------------------------  */

#contacts {
  margin-bottom: 0;
}

.form_container {
  background: var(--bg-contact);
  box-shadow: rgb(100 100 111 / 40%) 0 7px 29px 0;
  border-radius: 5px;
  padding: 20px;
}
.contact-form {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}
.label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
.contact__form-input {
  width: 100%;
  padding: 1rem 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.704);
  border: 1px solid #ebebeb;
  border-radius: 5px;
  font-weight: 600;
  color: var(--sec-title-color);
  font-family: "ubuntu", san-serif;
  font-size: medium;
}

.form-input {
  margin-bottom: 1rem;
  border-radius: 10px;
}
.contact-form .btn {
  width: 80%;
  margin-top: 2rem;
}
/* -----form end----  */
.wrap {
  padding-top: 20px;
}
.contact-info {
  text-align: left;
  margin-top: 10px;
}
.contact-info i {
  font-size: 1rem;
  padding: 0 10px 0 0;
}
.info-text {
  font-weight: 600;
  font-family: "ubuntu", san-serif;
  font-size: 1rem;
  padding-left: 20px;
}
#contacts .btn {
  width: 80%;
}

/* ----------------contact-form----------------  */

/* -------------footer--------------- */
footer {
  padding: 1rem;
  margin: 0;
}

.footer-copyright {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 0;
}

/* ================responsive-ness =================  */

@media screen and (min-width: 768px) {
  section {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.2rem;
  }
  #skills,
  .work,
  .flex-heading,
  #contacts,
  #about .subtext {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .header-text p,
  .work,
  #contacts {
    width: 80vw;
  }
  /* --------about section--------  */
  #skills,
  #about .subtext {
    width: 60vw;
  }
  .skills {
    padding: 0.6rem 1.1rem;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  /* ------about end-------  */
  /* ----work----- */
  .flex-heading::after {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ----------- responsive for dekstop --------------------------------------------- */

@media screen and (min-width: 1024px) {
  body {
    padding: var(--body-padding);
    cursor: none;
  }
  .cursor {
    width: 40px;
    height: 40px;
    background-color: var(--cursor-2);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    top: -20px;
    transition: 0.1s linear;
    animation: cursor 0.9s linear infinite;
    pointer-events: none;
    z-index: -4;
  }
  @keyframes cursor {
    0% {
      width: 20px;
      height: 20px;
    }
    30% {
      width: 30px;
      height: 30px;
    }
    50% {
      width: 40px;
      height: 40px;
    }
    70% {
      width: 30px;
      height: 30px;
    }
    100% {
      width: 20px;
      height: 20px;
    }
  }

  .center-cursor {
    width: 20px;
    height: 20px;
    background-color: var(--cursor);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    top: -20px;
    pointer-events: none;
    transition: 0.05s ease;
    z-index: 999;
  }
  section {
    padding: 0;
  }
  /* --------navbar -------- */
  .toggle {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 80px;
    padding: 20px 0 0;
  }
  .navbar {
    margin: 0;
    padding: 0;
    background: none;
  }
  .menu {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    background: none;
    width: auto;
  }
  .menu ul {
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .menu ul li {
    list-style: none;
  }

  .menu ul li a {
    display: block;
    font-family: "ubuntu", serif;
    font-size: var(--font-xs);
    color: var(--sec-title-color);
    cursor: none;
  }
  /* -------nav end-------- */

  /* -------header content-------- */
  .header-content {
    margin: 5rem 0;
    display: block;
    padding-top: 3rem;
    text-align: left;
  }
  .flex-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  /* profile pic  */
  .profile {
    width: 19rem;
    height: 19rem;
    margin: 0;
  }
  /* header text  */
  .header-text {
    text-align: left;
  }
  .header-text p {
    width: 40vw;
  }
  .header-text a i {
    padding-left: 0;
    padding-right: 2rem;
  }
  .header-content .btn {
    margin: 0;
    transition: all 0.2s ease;
  }
  /* -------------about section --------------------  */
  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-content {
    width: 50%;
    padding-right: 40px;
  }
  .about-content p {
    font-size: large;
  }
  #skills {
    width: 50%;
    padding-left: 40px;
    text-align: left;
  }

  #skills .flex-heading::after {
    left: 0;
    transform: translateX(0);
  }

  /* ------------work ----------- */
  #work .flex-wrapper {
    align-items: flex-start;
  }
  .work {
    max-width: 33%;
    padding: 10px;
  }

  /* ---------contacts------------------------ */
  #contacts {
    max-width: 60vw;
  }
  .form_container {
    padding: 3rem;
  }
  #contacts .subtext {
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
  }
}

@media screen and (min-width: 1400px) {
  body {
    padding: var(--body-padding2);
  }
  #contacts {
    max-width: 50vw;
  }
}
